<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filer | Video</title>
    <!-- add your own favicon - https://favicon.io/ -->
    <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
    <!-- reset default browser stylesheet -->
    <link rel="stylesheet" href="/css/modern-normalize.css">
    <!-- add google font and other resources here -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- custom styles -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav>
        <div class="logo-box dim">
            <img class="logo" src="/images/logo.svg" alt="logo">
            <h1>filer</h1>
        </div>
        <div class="menu-items">
            <p class="menu-button dim">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </p>
            <ul id="menu-logged-in" class="hidden">
                <li><a class="dim" href="/admin">Admin</a></li>
                <li><a class="dim" href="/uploads">Dashboard</a></li>
                <li><a class="dim" href="/logout">Logout</a></li>
            </ul>
            <ul id="menu-logged-out" class="hidden">
                <li><a class="dim" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <video controls></video>
            <div class="vide-details">
                <h2 class="video-title"></h2>
                <p class="video-uploader">Uploaded By: <a class="video-uploader-link disabled" href="#"><strong
                            id="username"></strong></a></p>
            </div>
        </div>
    </main>
    <footer>
        <div class="logo-box">
            <img class="logo" src="/images/logo.svg" alt="logo">
        </div>
        <div class="footer-buttons">
            <a class="rounded-btn black-white-btn" href="https://github.com/lill1e/filer">Source Code</a>
            <a class="rounded-btn black-white-btn" href="/wiki">Wiki</a>
        </div>
    </footer>

    <script>
        document.querySelector(".menu-button").addEventListener("click", () => document.querySelector(".menu").classList.toggle("hidden"))
        document.querySelectorAll(".logo-box").forEach(v => v.addEventListener("click", () => document.location.href = "/"))
        document.querySelectorAll(".disabled").forEach(v => v.addEventListener("click", () => alert("Feature Disabled")))
        fetch("/verify")
            .then(res => res.json())
            .then(res => {
                if (res.verified) document.getElementById("menu-logged-in").classList.toggle("menu")
                else document.getElementById("menu-logged-out").classList.toggle("menu")
            })
        let id = document.location.pathname.split("/").filter(s => s && s != "")[1]
        document.querySelector(".container > video").src = `/raw/${id}`
        fetch(`/meta/${id}`).then(res => res.json()).then(data => {
            document.querySelector(".video-title").innerText = data.title
            document.querySelector("#username").innerText = data.username
        })
    </script>
</body>

</html>
